@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
.card-content {
	display: flex;
	justify-content: center;
	gap: 40px;
	flex-wrap: wrap;
	padding: 60px;
	transition: transform 0.3s ease;
}
.card-content-wrapper {
  overflow: hidden;
}
.food-card {
	transition: 0.1s;
	flex: 0 0 30%; /* Adjust the flex value based on your needs */
}

@media screen and (max-width: 768px) {
	.food-card {
		width: calc(50% - 40px);
		max-width: calc(100% - 40px);
	}
}
.main-content {
	padding-top: 100px;
	padding-bottom: 100px;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06) !important;
}


.food-card:hover {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.food-card .food-card_img img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.food-card .food-card_img i {
	position: absolute;
	top: 20px;
	right: 30px;
	color: #fff;
	font-size: 25px;
	transition: all 0.1s;
}
.food-card .food-card_img i:hover {
	top: 18px;
	right: 28px;
	font-size: 29px;
}
.food-card .food-card_content {
	padding: 15px;
}
.food-card .food-card_content .food-card_title-section {
	height: 100px;
}
.food-card .food-card_content .food-card_title-section .food-card_title {
	margin-bottom: 8px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.food-card .food-card_content .food-card_title-section .food-card_author {
	font-size: 15px;
	display: block;
}
.food-card .food-card_content .food-card_bottom-section .food-card_price {
	font-size: 28px;
	font-weight: 500;
	color: #f47a00;
}
.food-card .food-card_content .food-card_bottom-section .food-card_order-count {
	width: 130px;
}
.food-card
	.food-card_content
	.food-card_bottom-section
	.food-card_order-count
	input {
	background: #f5f5f5;
	border-color: #f5f5f5;
	box-shadow: none;
	text-align: center;
}
.food-card
	.food-card_content
	.food-card_bottom-section
	.food-card_order-count
	button {
	border-color: #f5f5f5;
	border-width: 3px;
	box-shadow: none;
}

.rating-box {
	display: flex;
	align-items: center;
}

.rating-stars {
	width: 70px;
}
.rating-stars:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #eee;
}
.rating-stars .filled-star {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #f47a00;
}
.rating-stars img {
	height: 100%;
	width: 100%;
	display: block;
	position: relative;
	z-index: 1;
}

@media (min-width: 992px) {
	.food-card--vertical {
		display: flex;
		position: relative;
		height: 235px;
	}
	.food-card--vertical .food-card_img img {
		width: 200px;
		height: 100%;
		object-fit: cover;
	}
}
