
.row{
  position: relative;
  top: 100px;
}
.col-sm-2{
    background-color:#303030;
    width: 250px;
    height: 100%;
    top: 200px;
    left:0px;
    right: 40px;
    position: fixed;
    
}

.col-sm-2 .items {
    margin-top: 50px;
}

.col-sm-2 .items li {
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}

.col-sm-2 .items li i {
    color :#0bf684;;
    width: 30px;
    height: 20px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

.col-sm-2 .items li a {
    text-decoration: none;
    color : #FFFFFF;
    font-weight: 300px;
    transition: 0.3s ease;
}

.col-sm-2 .items li:hover {
    background: #929292;
    cursor: pointer;
}

 #interface .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #303030;
    padding: 5px;
    border-bottom: 4px solid #303030;
    position: fixed;
    width: 1306px;
    height: 100px;
    left: 0%;
    z-index: 2;
} 
.logo{
    color:#49FDA6 ;
    font-weight: normal;
    position: absolute;
    width: 40px;
    left: 50px;
}
.blue {
    color: #49FDA6;
  }
  .white {
    color: white;
  }
  .input-group{
    position: absolute;
    border-radius: 32px;
    background-color:#FFFFFF;
    padding: 10px;
    width: -300px;
    margin: 300px;
    
  }
  .input-group-text{
    padding: 10px;
    border-radius: 32px;
    position: absolute;
    left: 620px;
    height: 30px;
    background-color: #FFFFFF;
  }

.navigation .input-group input{
  width:610px;
  border: none;
  border-radius: 32px;
  height: 30px;
}
.navigation .input-group input:focus {
  outline: none;
  box-shadow: none;
}

.navigation .input-group span{
  background-color: #FFFFFF;
  border: none;
  border-radius: 32px;
  height: 30px;
  position: absolute;
  left: 650px;
}
.form-container{
  background-color: #FFFFFF;
  position:absolute;
  text-align: center;
  left: 1050px;
  position: absolute;
  top: 28%;
  bottom: 26%;
  background: #FFFFFF;
  border-radius: 15px 0px 0px 15px;
  Width:100px;
  height:30px;
  Top:30px;
  Left:1050px
}
.slide-signup{
position: absolute;
text-align: center;
color:  #49FDA6;
background-color:  #303030;
Top:-0.1px;
border-radius: 0px 15px 15px 0px;
left: 100px;
Width:100px;
height:30px;
border: 2px solid #49FDA6;
}
.col-sm-10{
  background-color: #303030;
  text-align: center;
  color: #FFFFFF;
  /* position: fixed; */
  top: 100px;
  left: 215px;
  height: auto;
  font-style: normal;
  letter-spacing: 1px;
  z-index: 1;
}
.best-option {
  color: #49FDA6;
}
.fa-brands{
  color: #49FDA6;
}

.col-sm-3{
  background-color: #FFFFFF;
}
.product{
  background-color: #303030;
  border-radius: 15px;
  margin: 10px;
  padding: -50px;
  width: 250px;
  height:  350px;;
}
img {
  width: 200px; 
  height: auto; 
  border: 1px ; 
  padding: 5px; 
  display: block; 
  margin: 0 auto; 
  left: 30px;
}
#ao{
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;
}
#quan{
  position: absolute;
  margin-left: 20px;
  margin-top: 30px;

}
#giay{
  position: absolute;
  margin-left: 20px;
  margin-top: 30px;
}
#nhan{
  position: absolute;
  margin-left: 20px; 
  margin-top: 30px;
}
.icon{
  color: #49FDA6;
  position: absolute;
 margin-left: 6px;
 margin-top: 10px;
}
.icon_heart {
  position: absolute;
 margin-left: 8px;
 
}
.icon_cart{
  position: absolute;
  margin-left: 210px;
 }
.content{
  position: absolute;
  margin-top: 240px;
  margin-left: 30px;
}
.content_nhan{
  position: absolute;
  margin-top: 200px;
  margin-left: 30px;
}
.fa-arrow-alt-circle-left {
margin-left: 70px;
color: #49FDA6;
}





