* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url('')
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 95%;
    background:#303030 ;
    height: auto;
}
.header{
    
    height:70px;
    margin-top:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    position: sticky;
    position:-webkit-sticky;
    top:0px;
    background: black;
}
.header .cart_title{
    display: flex;
    height: 50px;
    background: #49FDA6;
    border-radius: 10px;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 10px 10px 0px;
}
.header .cart_title .cart_name {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
  
}
.header .cart_title .cart_name h2{
    color: yellow;
    border-bottom: solid 1px black;

}

.fa-cart-plus{
    cursor: pointer;
}

.cart_user {
    box-sizing: border-box;
    padding:20px;
    width: 250px;
    height: 50px;
    background: #49FDA6;
    border-radius:10px;
    display:flex;
    justify-content:center;
    column-gap: 10px ;
    align-items: center;

}
.cart_user .user_img{
        width: 90px;
        height: 90px;
        box-sizing: border-box;
        margin: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;

}
.cart_user .user_img img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border:solid black 1px;
    margin:3%;
    padding: 2px;
}

.logout:hover{
    cursor: pointer;
}

/* content of cart_____________ */

.content{
    margin-top:10px;
    display: flex;
    justify-content:center;
    height:max-content;

}
.frame-product-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;


}
.product_cart{
    background:#FFFFFF;
    width: 95%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding:10px;
    box-sizing: border-box;
    border-radius: 10px;
    
}
.styled-checkbox::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
  }
.styled-checkbox:checked::before {
    content: '\2713';
    color: #fff;
    background-color: #2ecc71;
    border-color: #2ecc71;
  }
.img{
    border: #49FDA6 solid 1px;
    border-radius:3px;
    width: 70px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img img{
    padding: 2px;
    width: 80%;
    height: 80%;
}

.product_name{
    width: 200px;
    height: 90%;
    border-left:solid 2px ;
    opacity: 90%;
    display: flex;
    align-items: center;
    padding: 4px;
}
.amount input{
    width: 20%;
    text-align:center;
}
.amount span{
    width: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.amount .fa-circle-down:hover{
    cursor: pointer;
    color: #2ecc71;
}
.amount .fa-circle-down:focus{
 background-color: #49FDA6;
  outline: none;
}
.amount.fa-circle-down:active{
    color:red;
    transform: translateY(2px);
}

.remove_udt_cart{
    display: flex;
    align-items: center;
    gap: 50%;
}

/* STYLE FOR FOOTER PART */

.footer{
    height: 60px;
    width: 100%;
    background:#303030;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    display: flex;
    justify-content: end;
   
}
.footer .frame-footer-checkout{
    background: black;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 3px ;
}
.footer .frame-footer-checkout .amount-pro-checkout{
    background: #49FDA6;
    width: 33%;
    height: 90%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:100%;

}
.footer .frame-footer-checkout .total{
    background: #49FDA6;
    width: 33%;
    height: 90%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:100%;

}
.footer .frame-footer-checkout .checkout{
    background: #49FDA6;
    width: 33%;
    height: 90%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:100%;
    cursor: pointer;
    gap: 3px;
    text-decoration: none;
    color:black;

}
.footer .frame-footer-checkout .checkout:hover .fa-circle-down{
    color:#2ecc71;
}












