*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
}
.frame{
 display: flex;
 justify-content: center;
}
.content{
    margin-top:10%;
    width: 350px;
    height: 400px;
    background:black;
    text-align: center;
    float: center;
    border-radius: 10px;
}
.cancel i{
    float:right;
    margin-top:10px;
    margin-right:10px;
}

.text{
    width:100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text h2{
    color:#49FDA6;
}

input[type='button']{
    margin-top: 20px;
  color: #333;
  background-color:#49FDA6;
  border: 1px solid#49FDA6;
  font-size: 16px;
  padding: 10px;
  width: 30%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius:10px;
}   