.comment{
  border: 1px solid #28a745;
  background-color: white;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: left;
  column-gap: 40px;
  align-items: center;
  margin: 12px 0
}

.comment img {
  border: 1px solid white;
}

.comment h4,.darker h4,.darker span{
  display: inline;
  color: #28a745;
}
.comment span {
  color: rgb(0, 0, 0)
}
.comment p{
  color: rgb(0, 0, 0);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 400px;
}

.content textarea {
  line-height: 24px;
  margin: 12px 0;
  border:none;
  outline: none;
  width:100%;
}