*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: #303030;
    width: 95%;
}

.header{
    width: 100%;
    height: 100hv;
    
}
.header h1{
    margin-top: 10px;
    color:#49FDA6
}
.header h1 span{
    color: white;
}
.conten{
    display: grid;
    grid-template-columns: 1fr 40% ;
}


.Gross-total{
    margin-top: 20px;
    display: flex;
    justify-content:flex-start ;
    align-items: center;
    color: #49FDA6;
    gap: 70px;
}
.Gross{
    background: #000000;
    height:max-content;
}
.table {
    margin-top: 30px;
    color:white;
    width: 90%;
    text-align: center  ;
    display:relative;
    left: 100px;

}

.table .thead{
    background-color: #49FDA6;
    color:black;
}
.table .item .img{
    border: solid 1px #49FDA6 ;
    width: 100px;
    height: 100px;
    box-sizing: border-box;

}
.img img{
    width: 100px;
    height: 100px;
}

.rightconten h3{
    color: #49FDA6;
    margin-top: 20px;
}










form{
    margin-top: 20px;
    margin-left: 30px;
}
input{
    width: 70%;
    height: 30px;
}
.name{
    font-size: 30px;
    color: white;
}
#sub{
    margin-top: 35%;
    font-size: 30px;
    margin-left: 65%;
    border-radius: 24px ;
    width: 100px;
    background: #49FDA6;
}