.revenue {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width:50px;
  height: 50px;
  border-radius: 50%;
  background: var(--sub-color);
  text-align: center;
  line-height: 50px;
  color: var(--main-color);
  transition: .3s;
}

.revenue:hover {
  cursor: pointer;
  transform: scale(120%);
}

.display-revenue {
  width: 400px;
  height: 400px;
  background: white;
  position: fixed;
  bottom: 150px;
  right: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .3s ease-out;
}

.modal-header {
  border-bottom: 1px solid black;
}

.modal-body {
  flex: 6;
  border-bottom: 1px solid black;
}

.modal-header, .modal-footer {
  flex: 1;
  display: flex;
  align-items: center;
}
.modal-header {
  padding-left: 120px;
}
.modal-footer {
  justify-content: end;
  padding-right: 20px;
}

.hide {
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}

svg {
  width: 12px;
}