.allconten{
    width: 350px;
    height: 260px;
    background:  #303030;
    border-radius: 10px;
    
   
}

.main {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 130px;
}

.pp{
    display: flex;
    padding-left: 40px;
}
.mm{
    display: flex;
    padding-left: 55px;
}
#mkey{
    color: rgb(15, 172, 119);
}
#men{
    color: aliceblue;
}
#men2{
    color: rgb(165, 167, 167);
    
}
div#p1{
    color: aliceblue;
    padding: 2%;
}
div#p2{
    color: rgb(188, 189, 190);
    padding-left: 25px;

}
.left-conten{
    padding-top: 20px;
}
.right-conten{
    padding-top: 20px;
}
#si{
    width: 90%;
    margin-top: 1px;
    color: rgb(15, 172, 119);
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid  rgb(15, 172, 119);
    border-radius: 5px ;
}
#p1{
    color: aliceblue;
}
.a1{
    color: rgb(15, 172, 119);
    text-decoration: none;
}
.uname{
    color: rgb(234, 245, 245);
  
   border-bottom: 1px solid  rgb(15, 172, 119);
}
label.uname{
    margin-top: 1px;
}
.pass{
    color: aliceblue;
    border-bottom: 1px solid  rgb(15, 172, 119);
}
input#uname{
    background: transparent;
    width: 86%;
    border: none;
    outline: none;
    border-bottom: 1px solid  rgb(15, 172, 119);

}
a.sgin{
    color: aliceblue;
    text-decoration: none;
  position: absolute;
  margin-left: -12%;
  margin-top: 10px;
  font-size: 20px;
  border-bottom: 1px solid white;

}
a.sgup{
    color: aliceblue;
    text-decoration: none;
  position: absolute;
  margin-left: 7%;
  margin-top: 10px;
  font-size: 20px;
  border-bottom: 1px solid white;
}
div.right-contenlabel.uname{
    top: 0%;
    left: 0%;
    position: absolute;
}
div.n1{
    display: flex;
}
div.n2{
    display: flex;
}
div.contener{
    display: flex;
    justify-content: space-around;

    padding-top: 10px;
   
}
.div2{
    padding-right: end;
}
.wrapp{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
p#p1{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
div.left-conten{
    margin-left: 5px;
}
div#p1{
    margin-left: 30px;
}
div#p2{
    margin-left: 30px;
}
div.pp{
    font-size: 15px;
    margin-left: -5px;
}
div.mm{
    font-size: 15px;
}
.my{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid  rgb(221, 240, 234);
    border-bottom-width: 100%;
    color:white
}
input#si{
    margin-top: 20px;
}
input[type='text'] {
    color: white;
}