body {
  margin-top: 20px;
  background-color: #f2f6fc;
  color: #69707a;
}
.img-account-profile {
  height: 10rem;
}
.rounded-circle {
  border-radius: 50% !important;
}
.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
  font-weight: 500;
}
.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control,
.dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders {
  display: flex;
  justify-content: space-between;
}

.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.profile-head {
  transform: translateY(5rem);
}

.cover {
  background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}
.option-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-btn {
  width: 100%;
  text-align: center;
  padding: 12px 0;
  outline: none;
  border:none;
}
.option-btn:first-child {
  border-right: 1px solid snow;
}
.option-btn:active {
  border-bottom: 1px solid gray;
}
.user-info {
  background: #654ea3;
  background: linear-gradient(to right, #73cda0, #28a745, #73cda0, #28a745);
  min-height: 100vh;
  overflow-x: hidden;
}
.user-post {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 12px;
}



.post-content {
  line-height: 40px;
}

.post-content h3 {
  min-width: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}

.post-content p {
  line-height: 1.5em;
  display: block;
  height: 50px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}
